@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-100 dark:bg-slate-950 text-slate-900 dark:text-slate-50 font-sans;
}

select option {
  background-color: white;
  color: rgb(15 23 42); /* slate-900 */
}

.dark select option,  .dark select, .dark button, .dark input, .dark textarea, .dark h1, .dark h3, .dark span {
  /* background-color: rgb(15 23 42); slate-900 */
  color: rgb(248 250 252); /* slate-50 */
}

.dark select option,  .dark select {
  background-color: rgb(15 23 42); /* slate-900 */
}

.dark .dark-scrollbar {
  /* scrollbar-width: thin; */
  scrollbar-color: #6b7280 rgb(15, 23, 42 );
}

/* .dark-scrollbar::-webkit-scrollbar {
  width: 8px;
} */

.dark .dark-scrollbar::-webkit-scrollbar-track {
  background: rgb(15, 23, 42 );
}

.dark .dark-scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280; /* gray-500 */
  /* border-radius: 4px; */
}

.dark .dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* gray-400 */
}